/* main visual */
.visual{}
.visual-slider{
    width: 100%;
    /* height: 800px; */
    /* height: 77vh; */
    /* max-height: 994px; */
    margin-top: -91px;
}
.visual-slider .slick-wrapper{
    height: 100%;
}
.visual-slider .slick-slide{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.visual-slider .slick-slide .con-wrap{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visual-slider .slick-slide img{
    opacity: 0;
    transition: .8s ease .6s;
    position: relative;
}

.visual-slider .slick-slide img:first-child{
    margin-right: -164px;
    margin-bottom: 150px;
    left: -40px;
    transition-delay: 1s;
}
.visual-slider .slick-slide img:last-child{
    bottom: -40px;
    transition-duration: 1.5s;
    height: 970px;
}
.visual-slider .slick-active img {
    opacity: 1;
}
.visual-slider .slick-active img:first-child{
    left: -10px;
}
.visual-slider .slick-active img:last-child{
    bottom: 0;
}
.visual-slider .slick-slide:nth-child(1){
    background-image: url(../../assets/images/bg/bg-main-slide1.png);
}
.visual-slider .slick-slide:nth-child(2){
    background-image: url(../../assets/images/bg/bg-main-slide2.png);
}
.visual-slider .slick-slide:nth-child(3){
    background-image: url(../../assets/images/bg/bg-main-slide3.png);
}
.visual-slider .slick-slide:nth-child(4){
    background-image: url(../../assets/images/bg/bg-main-slide4.png);
}
.visual-slider .slick-dots{
    position: absolute;
    box-sizing: border-box;
    bottom: 30%;
    text-align: left;
    width: 100%;
    max-width: 1360px;
    padding: 0 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.visual-slider .slick-dots li button {
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.5);
    width: 29px;
    height: 3px;
    margin: 0;
    margin-right: 3px;
    text-indent: 9999px;
    overflow: hidden;
    border: none;
}
.visual-slider .slick-dots .slick-active button {
    background: #fff;
}
.customer-list{
    position: absolute;
    bottom: 208px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
.customer-list .slick-container{
    width: 640px;
    margin: 0;
}
.achievements-list{
    margin-top: -61px;
    position: relative;
    z-index: 10;
}
.achievements-list ul{
    background: #2a425e;
    border-radius: 10px;
    -webkit-box-shadow: 3px -3px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px -3px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px -3px 20px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.achievements-list ul:after{
    content: "";
    display: block;
    clear: both;
}
.achievements-list li{
    width: 33.333%;
    float: left;
    padding: 27px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.achievements-list li img{
    display: block;
    margin-right: 20px;
}
.achievements-list li::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 1px;
    height: 67px;
    background: rgba(255, 255, 255, 0.1);
}
.achievements-list li:last-child::after{
    display: none;
}
.achievements-list li span{
    display: block;
}
.achievements-list em{
    font-weight: 400;
    font-size: 18px;
} 
.achievements-list strong{
    font-weight: 700;
    font-size: 28px;
}

/* contents */
.contents{
    box-sizing: border-box;
}
.contents.con1,
.contents.con4,
.contents.con5{
    text-align: center;
}
.contents .con-wrap{
    padding: 100px 40px;
    position: relative;
    overflow: hidden;
}
.contents.con1 header,
.contents.con4 header,
.contents.con5 header{
    margin-bottom: 60px;
}
.contents h2{
    font-size: 24px;
    color: #ff0000;
    font-weight: 400;
    margin-bottom: 6px;
}
.contents h3{
    font-size: 44px;
    color: #000;
    font-weight: 300;
}
.contents.con2 .con-wrap,
.contents.con3 .con-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents .img-wrap {
    width: 50%;
}

/* 상품안내 */
.contents.con1 ul{
    display: flex;
    justify-content: space-between;
}
.contents.con1 ul li{
    text-align: left;
    width: 630px;
    
    box-sizing: border-box;
}
.contents.con1 ul li:first-child a{
    background: url("../../assets/images/bg/bg-main-con1-card1.png");
}
.contents.con1 ul li:last-child a{
    margin-left: 20px;
    background: url("../../assets/images/bg/bg-main-con1-card2.png") center no-repeat;
}
.contents.con1 ul li a{
    display: block;
    padding: 46px 60px 23px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.2);
    transition: transform .3s ease;
}
/* .contents.con1 ul li a::after,
.contents.con1 ul li a::before,
.contents.con1 ul li h4::after,
.contents.con1 ul li h4::before{
    right: 0;
    bottom: 0;
    transition: 0.3s ease;
    content: "";
    display: block;
    position: absolute;
    background: #ff0000;
}
.contents.con1 ul li a::before{
    width: 1px;
    height: 0;
    left: 0;
    bottom: 0;
} 
.contents.con1 ul li a::after{
    width: 0;
    height: 1px;
    left: 0;
    top: 0;
}
.contents.con1 ul li a h4::before{
    width: 1px;
    height: 0;
    right: 0;
    top: 0;
}
.contents.con1 ul li a h4::after{
    width: 0;
    height: 1px;
    right: 0;
    bottom: 0;
}
.contents.con1 ul li a:hover{
    border-radius: 0;
}
.contents.con1 ul li a:hover::before,
.contents.con1 ul li a:hover h4::before{
    height: 100%;
}
.contents.con1 ul li a:hover::after,
.contents.con1 ul li a:hover h4::after{
    width: 100%;
} */
.contents.con1 ul li a:hover {
    transform: scale(1.02);
}
.contents.con1 ul li em{
    font-size: 26px;
    font-weight: 300;   
    position: relative;
}
.contents.con1 ul li em::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 17px;
    width: 100%;
    background: rgba(255, 164, 0, 0.2);
}
.contents.con1 ul li:last-child em::before{
    background: rgba(0, 255, 208, 0.2);
}
.contents.con1 ul li strong{
    font-size: 44px;
    font-weight: 400;   
    display: block;
    margin-top: 8px;
}
.contents.con1 ul li p{
    font-size: 14px;
    font-weight: 300;
    color: #ff0000;
    border: 1px solid #ff0000;
    width: 156px;
    height: 40px;
    margin-top: 30px;
    line-height: 40px;
    padding-left: 24px;
    background: url("../../assets/images/btn/btn-box-more.png");
    transition: .3s ease;
}
.contents.con1 ul li a:hover p {
    background: #ff0000 url("../../assets/images/btn/btn-box-more-hover.png");
    color: #fff;
}

/* 서비스01 */
.contents.con2{
    background: #edfbf5 url("../../assets/images/bg/bg-main-service01.png")no-repeat center;
    background-size: cover;
}
.contents.con2 .con-wrap{
    padding: 30px 40px;
}
.contents.con2 header{
    padding-left: 120px;
    width: 50%;
    order: 1;
}
.contents.con2 h3{
    margin-bottom: 61px;
}
.contents.con2 p{
    color: #2f77af;
    font-size: 27px;
    line-height: 1.37;
}
.contents.con2 p:last-child{
    margin-top: 50px;
    background: url(../../assets/images/bg/bg-main-txtstar1.png)no-repeat left bottom;
    padding: 0 9px 9px;
    margin-left: -9px;
}
.contents.con2 p:last-child em{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.contents.con2 .img-wrap{
    margin-left: -60px;
}

/* 서비스02 */
.contents.con3 {
    background: #ede9e6 url("../../assets/images/bg/bg-main-service02.png")no-repeat right;
    background-size: cover;
}
.contents.con3 h3 {
    margin-bottom: 61px;
}

.contents.con3 p {
    color: #413410;
    font-size: 27px;
    line-height: 1.37;
}

.contents.con3 dl {
    margin-top: 50px;
    color: #000;
}

.contents.con3 dt{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    background: url(../../assets/images/bg/bg-main-txtstar2.png)no-repeat left bottom;
    padding: 0 12px 12px;
    margin-left: -12px;
}
.contents.con3 dd{
    font-size: 18px;
    line-height: 1.7;
}
.contents.con3 dd strong{
    color: #f25474;
}

.contents.con3 .img-wrap {
    margin-right: -60px;
}
.contents.con3 .img-wrap img{
    display: block;
    margin: 0 auto;
}

/* 임종 관리 서비스 */
.contents.con4{
    font-size: 16px;
}
.contents.con4 .split-box{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.contents.con4 .split{
    width: 530px;
}
.contents.con4 .split div{
    text-align: left;
}
.contents.con4 .split h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 25px;
}
.contents.con4 .before h4{
    background: #dce6f0;
    color: #1056a1;
}   
.contents.con4 .after h4{
    background: #dbf1f1;
    color: #114f50;
}   
.contents.con4 .split h5{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 11px;
}
.contents.con4 .split .box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.contents.con4 .split .box .img-wrap{
    width: auto;
    margin-right: 30px;
}
.contents.con4 .split li{
    margin-left: 10px;
    list-style: 'ㆍ 'outside;
    line-height: 1.875;
}

/* 이용방법 */
.contents.con5{
    background: url(../../assets/images/bg/bg-main-service05.png) no-repeat center;
    background-size: cover;
}
.contents.con5 ol{
    display: flex;
    justify-content: space-between;
    counter-reset: num;
}
.contents.con5 li{
    width: 240px;
    height: 294px;
    background: #fff;
    border: 1px solid #bfbfbf;
    margin-left: 10px;
    position: relative;
}
.contents.con5 li:first-child{
    margin-left: 0;
}
.contents.con5 li::before{
    display: block;
    content: "0"counter(num);
    counter-increment: num 1;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    background: #ff0052 url(../../assets/images/bg/bg-step-num.png);
    width: 58px;
    height: 46px;
    padding-top: 14px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 10px 8px 8px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 10px 8px 8px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 10px 8px 8px 0px rgba(0, 0, 0, 0.11);
}
.contents.con5 li::after{
    display: block;
    position: absolute;
    top: 74px;
    left: 50%;
    transform: translate(-50%);
}
.contents.con5 li:nth-child(1)::after{
    content: url('../../assets/images/icon/icon-main-step1.png');
}
.contents.con5 li:nth-child(2)::after{
    content: url('../../assets/images/icon/icon-main-step2.png');
}
.contents.con5 li:nth-child(3)::after{
    content: url('../../assets/images/icon/icon-main-step3.png');
}
.contents.con5 li:nth-child(4)::after{
    content: url('../../assets/images/icon/icon-main-step4.png');
}
.contents.con5 li:nth-child(5)::after{
    content: url('../../assets/images/icon/icon-main-step5.png');
}
.contents.con5 li dl{
    margin-top: 180px;
}
.contents.con5 li dt{
    font-size: 24px;
    font-weight: 700;
}
.contents.con5 li dd{
    font-size: 16px;
    color: #777;
    margin-top: 15px;
}

/* 부고안내 & 이용후기 */
.contents.board .con-wrap{
    display: flex;
    justify-content: space-between;
}
.contents.board article{
    width: 540px;
}
.contents.board header{
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    margin-bottom: 0;
}
.contents.board h2{
    font-size: 32px;
    font-weight: 300;
    color: #000;
}
.board .btn-wrap {
    display: flex;
    justify-content: space-between;
}
.board .btn-wrap button {
    width: 44px;
    height: 44px;
    border: 1px solid #e5e5e5;
    line-height: 9999;
    overflow: hidden;
}
.board .btn-move {
    display: flex;
}
.board .btn-move button {
    background: url(../../assets/images/btn/btn-board-arrow.png) no-repeat;
}
.board .btn-move button:first-child {
    transform: rotate(-180deg);
    border-left: none;
}
.board .btn-more{
    margin-left: 10px;
    background: url(../../assets/images/btn/btn-board-more.png) no-repeat;
}
.board .list-board li a{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    height: 110px;
}
.board .list-board .date{
    text-align: center;
    width: 65px;
    margin-right: 38px;
}
.board .list-board .date em{
    font-size: 26px;
    color: #777;
}
.board .list-board .date span{
    font-size: 16px;
    color: #999;
    display: block;
}
.board .list-board .title span{
    font-size: 16px;
    color: #777;
}
.board .list-board .title strong{
    display: block;
    font-size: 20px;
    margin-bottom: 4px;
}
.board .gallery-board .slick-slide{
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}
.board .gallery-board .thumb{
    margin-right: 40px;
}
.board .gallery-board .thumb img{
    border: 1px solid #ededed;
}
.board .gallery-board .tit a{
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}
.board .gallery-board .tit p{
    font-size: 16px;
    color: #777;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
    position: relative;
    padding-top: 20px;
    min-height: 80px;
}
.board .gallery-board .tit p::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 2px;
    background: #e5e5e5;
}
.board .gallery-board .tit span{
    color: #999;
    font-size: 16px;
}

@media all and (max-height:1280px) {
    .visual-slider .slick-slide img:first-child {
        width: 560px;
    }
    .visual-slider .slick-slide img:last-child {
        height: 760px;
    }
}