@charset "utf-8";

/* layout */
.con-wrap {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.visual {
    position: relative;
    padding-top: 90px;
    box-sizing: border-box;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: #fff;
    z-index: 100;
    transition: .3s;
}

.header .logo {
    position: relative;
    width: 150px;
    height: 100%;
    padding: 0 40px;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .logo span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.header .logo .black {
    display: none;
}

.header .logo img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 1s ease;
    max-width: 100%;
}

.header .logo img:last-child {
    opacity: 0;
}

/* header 고정 style */
.header.fix {
    border: 0;
    background: #fff;
    color: #000;
    -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.header.fix .logo .white,
.header.fix.active .logo .black {
    display: none;
}

.header.fix .logo .black,
.header.fix.active .logo .white {
    display: block;
}

/* 가입상담신청 form */
.aside-consulting {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 400;
    z-index: 10;
}

.aside-consulting .consulting-con {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 443px;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
}

.aside-consulting h2 {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: 400;
}

.aside-consulting .consulting-form {
    width: 100%;
    margin-bottom: 34px;
    padding-top: 11px;
}

.aside-consulting .consulting-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.aside-consulting .consulting-form input {
    width: 223px;
}

.aside-consulting .consulting-form select {
    width: 223px;
}

.aside-consulting .consulting-form .chk-agree {
    margin-bottom: 20px;
    padding-top: 5px;
    font-size: 14px;
}

.aside-consulting .consulting-form .chk-agree div {
    margin-bottom: 0;
}

.aside-consulting .consulting-form .chk-agree input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.aside-consulting .consulting-form .chk-agree input+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.aside-consulting .consulting-form .chk-agree input+label:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background: #fff url("../../assets/images/btn/btn-chk-off.png") no-repeat center;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    content: "";
}

.aside-consulting .consulting-form .chk-agree input:checked+label:before {
    background-image: url("../../assets/images/btn/btn-chk-on.png");
}

.aside-consulting .consulting-form .chk-agree button {
    width: 94px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

.aside-consulting .consulting-list {
    width: 100%;
}

.aside-consulting .consulting-list .list {
    margin-bottom: 32px;
    text-align: center;
}

.aside-consulting .consulting-list .list-head li,
.aside-consulting .consulting-list .list-body li {
    display: flex;
    align-items: center;
    width: 100%;
}

.aside-consulting .consulting-list .list-body li {
    transition: .5s ease;
}

.aside-consulting .consulting-list .list-body li.hide {
    margin-top: -26px;
    opacity: 0;
}

.aside-consulting .consulting-list .list em {
    font-weight: 400;
}

.aside-consulting .consulting-list .list em:nth-child(1) {
    width: 25%;
    color: #fff;
    font-weight: 700;
}

.aside-consulting .consulting-list .list em:nth-child(2) {
    width: 40%;
}

.aside-consulting .consulting-list .list em:nth-child(3) {
    width: 35%;
}

.aside-consulting .consulting-list .list-head {
    background: rgba(42, 66, 94, 0.2);
    line-height: 1;
    padding: 7px 0;
    margin-bottom: 6px;
    color: #fff;
}

.aside-consulting .consulting-list .list-head em {
    border-left: 1px solid rgba(255, 255, 255, .4);
}

.aside-consulting .consulting-list .list-head em:first-child {
    border: 0;
    font-weight: 400;
}

.aside-consulting .consulting-list .list-body {
    overflow: hidden;
    height: 130px;
    line-height: 26px;
    color: #f1f1f1;
}

.aside-consulting .consulting-list .tel-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.aside-consulting .consulting-list .tel-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 67px;
    background: rgba(105, 105, 105, 0.6);
    color: #fff;
}

.aside-consulting .consulting-list .tel-list li:first-child {
    background: rgba(133, 133, 133, 0.6);
}

.aside-consulting .consulting-list .tel-list em {
    font-size: 15px;
}

.aside-consulting .consulting-list .tel-list strong {
    font-size: 25px;
    color: #ffea5b;
}

/* 고정 form */
.aside-consulting.fix-aside {
    display: none;
}

.aside-consulting.fix-aside .consulting-con {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.4);
    color: #000;
    transform: translateX(100%);
    transition: .5s ease;
}

.aside-consulting.fix-aside.open .consulting-con {
    display: flex;
    transform: translateX(0);
}

.aside-consulting.fix-aside .consulting-list .list-head {
    background: #92a0ad;
}

.aside-consulting.fix-aside .consulting-list .list-body {
    color: #7f7f7f;
}

.aside-consulting.fix-aside .consulting-list .list-body em:nth-child(1) {
    color: #7f7f7f;
}

.btn-consulting::before {
    display: block;
    float: left;
    width: 55px;
    height: 55px;
    margin-right: 16px;
    border: 1px solid #c94c4c;
    border-radius: 100%;
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.2);
    background: #fff url("../../assets/images/icon/icon-consulting.png") no-repeat center;
    background-size: 76%;
    box-sizing: border-box;
    content: "";
}

.btn-consulting {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 0;
    border: 0;
    color: #fff;
    height: 73px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 36px 0 0 36px;
    background: linear-gradient(90deg, #ff0000, #ed903c);
    background-size: 150%;
    font-size: 20px;
    line-height: 53px;
    transition: .5s ease;
    -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.aside-consulting.open .btn-consulting {
    right: 443px;
    width: 45px;
    height: 57px;
    border-radius: 10px 0 0 10px;
    background: #7a7a7a url("../../assets/images/btn/btn-close.png") no-repeat center;
    text-indent: -9999px;
}

.aside-consulting.open .btn-consulting::before {
    display: none;
}

/* footer */
.footer {
    background: #10243b;
}

.footer-util {
    display: flex;
    justify-content: center;
    border-top: 1px solid #e5e5e5;
    background: #f4f4f4;
    color: #555;
    font-size: 16px;
}

.footer-util li {
    padding: 23px 20px;
}

.footer-util li::after {
    display: inline-block;
    margin-left: 40px;
    color: #ccc;
    content: '/';
}

.footer-util li:last-child::after {
    display: none;
}

.footer-address {
    font-size: 14px;
    color: #999;
}

.footer-address .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 65px 0 41px;
}

.footer-address .logo img {
    display: block;
    padding: 0 30px;
}

.footer-address .logo img:first-child {
    border-right: 1px solid rgba(150, 150, 150, 0.3);
}

.footer-address .address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 1.857;
}

.footer-address .address span {
    display: block;
}

.footer-address .address span::after {
    display: inline-block;
    color: #344860;
    padding: 0 14px;
    content: "|";
}

.footer-address .address span:nth-child(3)::after {
    display: none;
}

.footer-address .address span:last-child::after {
    display: none;
}

/* text-box popup */
.dimd {
    height: 100%;
    overflow: hidden;
}

.pop-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    z-index: 200;
}

.pop-wrap .popup {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 552px;
    height: 80%;
    padding: 40px;
    border-radius: 10px;
    background: #fff;
    color: #999;
    line-height: 1.5;
    box-sizing: border-box;
}

.pop-wrap .popup h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #000;
}

.pop-wrap .popup .text-box {
    overflow: auto;
    height: 100%;
    padding-right: 10px;
    margin-right: -27px;
    margin-bottom: 40px;
}

.pop-wrap .popup.short .text-box {
    padding-right: 0;
    margin-right: 0;
}

.pop-wrap .popup h3 {
    margin-top: 30px;
    font-weight: 400;
}

.pop-wrap .popup p {
    margin-bottom: 14px;
}

.pop-wrap .popup li {
    margin-bottom: 11px;
}

.pop-wrap .popup li li {
    padding-left: 10px;
    margin-bottom: 0;
}

.pop-wrap .popup .btn-close-pop {
    width: 100%;
    height: 50px;
    border: 0;
    background: #000;
    font-size: 17px;
    color: #fff;
}


/* elements */
.btn-menu {
    display: none;
}

.btn-red {
    width: 100%;
    height: 54px;
    border: 0;
    background: #ff0000;
    font-size: 18px;
    color: #fff;
}

/* pc */
@media (min-width: 1025px) {
    .header .gnb {
        width: 715px;
        height: 100%;
        padding-right: 40px;
        font-size: 20px;
        font-weight: 700;
    }

    .header .gnb>ul {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .header .gnb>ul>li {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .header .gnb::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        content: "";
        z-index: -1;
        transition: .3s ease;
        background: #fff;
    }

    .header .gnb .sub-depth {
        overflow: hidden;
        display: block;
        position: absolute;
        top: 101px;
        left: -20%;
        width: 140%;
        height: 0;
        font-size: 16px;
        line-height: 2;
        text-align: center;
        font-weight: 400;
        color: #555;
        opacity: 0;
        transition: .3s ease .2s;
    }

    .header .gnb .fnb {
        display: none;
    }

    .header .util {
        display: flex;
        height: 100%;
    }

    .header .util li {
        height: 100%;
    }

    .header .util li a {
        display: block;
        height: 100%;
        text-indent: -9999px;
        overflow: hidden;
    }

    .header .call-link {
        width: 249px;
        background: #ff0000 url("../../assets/images/btn/btn-h-call.png");
    }

    .header .info-link {
        width: 194px;
        background: #0c417a url("../../assets/images/btn/btn-h-info.png");
    }

    /* header open style */
    .header.open {
        border: 0;
        background: #fff;
        color: #000;
    }

    .header.open .logo .white {
        display: none;
    }

    .header.open .logo .black {
        display: block;
    }

    .header.open .gnb::before {
        height: 286px;
        background: #fff;
        -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
    }

    .header.open .gnb::after {
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ccc;
        content: "";
    }

    .header.open .gnb .sub-depth {
        height: auto;
        opacity: 1;
    }

    .header .gnb .sub-depth a:hover {
        color: #3152a0;
    }
}

/* pc 1280 이하 */
@media screen and (max-width: 1280px) {
    .header .logo {
        padding-right: 20px;
    }

    .header .gnb {
        width: 500px;
        padding-right: 20px;
        font-size: 18px;
    }

    .btn-consulting {
        right: -130px;
    }

    .header .gnb .sub-depth {
        font-size: 14px;
    }
}

/* tablet 1024 이하 */
@media screen and (max-width: 1024px) {
    .header {
        border: 0;
    }

    .btn-menu {
        display: block;
        position: absolute;
        right: 40px;
        top: 0;
        bottom: 0;
        width: 30px;
        height: 25px;
        margin: auto;
        border: 0;
        background: none;
    }

    /* 모바일 메뉴 토글버튼 */
    .btn-menu::before,
    .btn-menu::after,
    .btn-menu span {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #042578;
        content: "";
        transition: .3s ease;
    }

    .btn-menu::before {
        -webkit-animation: outT 0.8s backwards;
        animation: outT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .btn-menu span {
        overflow: hidden;
        margin: 5px 0;
        font-size: 1px;
        text-indent: -999px;
        -webkit-animation: outM 0.8s backwards;
        animation: outM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .btn-menu::after {
        -webkit-animation: outBtm 0.8s backwards;
        animation: outBtm 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .header.active .btn-menu::before,
    .header.active .btn-menu::after,
    .header.active .btn-menu span {
        background-color: #fff;
    }

    .header.active .btn-menu::before {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
    }

    .header.active .btn-menu span {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
    }

    .header.active .btn-menu::after {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
    }

    .header .gnb {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #f7f7f7;
        font-size: 20px;
        line-height: 56px;
        font-weight: 700;
        color: #333;
        z-index: -1;
        transform: translateX(100%);
        transition: .3s ease;
    }

    .header.active .gnb {
        transform: translateX(0);
    }

    .header .gnb::before {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 90px;
        background: url("../../assets/images/bg/bg-mgnb.png") no-repeat center;
        background-size: cover;
        content: "";
        z-index: 10;
    }

    .header .gnb-top {
        padding-top: 15px;
        background: #fff;
    }

    .header .gnb-top>li {
        background: #fff;
    }

    .header .gnb a {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
    }

    .header .gnb .has-sub::after {
        display: block;
        position: absolute;
        top: 18px;
        right: 15px;
        width: 13px;
        height: 19px;
        background: url("../../assets/images/btn/btn-menu-subtoggle.png") no-repeat center;
        background-size: contain;
        content: "";
        transition: .3s ease;
        opacity: .6;
        transform: rotate(-180deg);
    }

    .header .gnb .has-sub.active::after {
        transform: rotate(0);
    }

    .header .gnb .sub-depth {
        display: none;
        padding-bottom: 10px;
        background: #f7f7f7;
        font-size: 16px;
        font-weight: 500;
        line-height: 40px;
        color: #333;
    }

    .header .gnb .sub-depth a {
        padding-left: 25px;
    }

    .header .gnb .fnb {
        display: block;
        padding: 60px 0 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: #999;
    }

    .header .gnb .fnb li:first-child {
        color: #555;
    }

    .header .util {
        display: none;
    }

    .btn-consulting {
        top: 74%;
    }

    .footer-util {
        display: none;
    }
}

/* 저해상도 tablet 768 이하 */
@media screen and (max-width:768px) {
    .header {
        height: 70px;
    }

    .header .logo {
        padding: 0 15px;
    }

    .header .logo img {
        height: 26px;
    }

    .header .gnb::before {
        height: 70px;
    }

    .con-wrap {
        padding: 0 15px;
    }

    .btn-menu {
        right: 15px;
    }

    .aside-consulting.open {
        z-index: 150;
    }

    .aside-consulting .consulting-con {
        overflow: auto;
        align-content: flex-start;
        width: 100%;
        padding: 20px 15px;
    }

    .aside-consulting.open .btn-consulting {
        top: 0;
        right: 0;
        width: 59px;
        height: 60px;
        background: transparent url("../../assets/images/btn/btn-b-close.png") no-repeat center;
        background-size: 22px;
        box-shadow: none;
        z-index: 10;
    }

    .aside-consulting h2 {
        font-size: 26px;
    }
}

/* moblie 480 이하 */
@media screen and (max-width:480px) {
    .pop-wrap .popup {
        padding: 30px;
    }

    .pop-wrap .popup h2 {
        margin-bottom: 17px;
        font-size: 20px;
    }

    .pop-wrap .popup .text-box {
        margin-right: 0;
        margin-bottom: 20px;
    }

   .footer-address .logo {
        padding: 45px 0 31px;
    }

    .footer-address .logo img {
        height: 26px;
        padding: 0 20px;
    }

    .footer-address .address {
        max-width: 350px;
        padding: 0 15px 30px;
        background: border-box;
    }

    .footer-address .address span::after {
        display: none;
    }

    .footer-address .address span:nth-child(2)::after {
        display: inline-block;
    }

}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}