body {
    background : aquamarine;
}

/* layout */
.container {
    
}
.con-wrap {
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}
.visual {
    padding-top: 90px;
}

/* header */
.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.header .logo {

}
.header .gnb {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.header .gnb ul {
    display: flex;
    width: 715px;
    justify-content: space-between;
}
.header .util {
    display: flex;
}
.header .util li {
    height: 100%;
}

.header .util li a {
    display: block;
    height: 100%;
}
.header .call-link {
    background: #ff0000 url(../../assets/images/btn/btn-call-link.png);
}