@charset "utf-8";

/* layout */
.contents {
    padding-bottom: 120px;
}

.con-wrap {
    max-width: 1280px;
}

/* sub visual */
.visual {
    background: no-repeat center;
    background-size: cover;
    color: #fff;
}

.visual .visual-wrap {
    position: relative;
    height: 329px;
    padding-top: 92px;
    box-sizing: border-box;
}

.visual h2 {
    position: absolute;
    width: 300px;
    height: 60px;
    -webkit-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    -moz-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    font-size: 36px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) perspective(1100px);
    animation: visual-tit-in .6s ease-in;

}

.visual p {
    margin-bottom: 98px;
    padding-top: 56px;
    -webkit-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    -moz-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    font-size: 18px;
    line-height: 1.72;
    text-align: center;
    transition: .5s ease;
    animation: scale-in 1s ease;
}

/* local nav */
.lnb {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
}

.lnb .con-wrap {
    display: flex;
    align-items: center;
    height: 60px;
}

.lnb li {
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, .2);
    font-size: 16px;
}

.lnb li:first-child {
    border-left: 1px solid rgba(255, 255, 255, .2);
}

.lnb .home {
    overflow: hidden;
    flex-shrink: 0;
    width: 60px;
    background: url("../../assets/images/icon/icon-lnb-home.png") no-repeat center;
    text-indent: -9999px;
}

.lnb button {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    border: 0;
    background: none;
    font-size: inherit;
    font-weight: 500;
    text-align: left;
    color: #fff;
}

.lnb button::after {
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 14px;
    height: 8px;
    background: url("../../assets/images/icon/icon-lnb-arrow.png") no-repeat center;
    transform: translateY(-50%);
    transition: .3s ease;
    content: "";
}

.lnb button.open::after {
    transform: translateY(-50%) rotate(-180deg);
}

.lnb .depth-list {
    overflow: hidden;
    position: absolute;
    left: -1px;
    width: 100%;
    height: 0;
    border: 1px solid #ddd;
    background: #fff;
    line-height: 46px;
    opacity: 0;
    transition: .3s ease;
    z-index: 10;
}

.lnb button.open+.depth-list {
    height: auto;
    padding: 10px 0;
    opacity: 1;
}

.lnb .depth-list li a:hover {
    color: #004287;
}

.lnb .depth-list li.active a {
    color: #004287;
}

.lnb a {
    display: block;
    height: 100%;
    padding: 0 30px;
    color: #888;
}

/* contents header */
.contents .con-header {
    margin-bottom: 60px;
    padding-top: 50px;
    text-align: center;
}

.contents .con-header::before {
    animation: line-grow .5s ease;
}

.contents .con-header::before {
    display: block;
    width: 1px;
    height: 60px;
    margin: 0 auto 14px;
    background: #393939;
    content: "";
}

.contents .con-header h2 {
    font-size: 34px;
    word-break: keep-all;
    word-wrap: break-word;
    animation: position-in 1s ease;
}

.contents .con-header p {
    margin-top: 13px;
    font-size: 20px;
    color: #999;
    word-break: keep-all;
    word-wrap: break-word;
    animation: position-in 1s ease;
}

.contents .con-header .tab-title {
    padding-top: 40px;
}

.contents .con-body {
    animation: position-in 1s ease;
}

/* tab */
.tab-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #555;
    text-align: center;
    line-height: 60px;
}

.tab-title li {
    min-width: 230px;
    border: 1px solid #ccc;
    border-left: 0;
    box-sizing: border-box;
}

.tab-title li:first-child {
    border-left: 1px solid #ccc;
}

.tab-title input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.tab-title label {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.tab-title input[type="radio"]:checked+label {
    background: #27499a;
    color: #fff;
}

.tab-con {
    position: relative;
}

.tab-con article {
    overflow: hidden;
    position: relative;
    top: 40px;
    height: 0;
    opacity: 0;
    transition: .6s ease;
}

.tab-con article.active {
    height: auto;
    top: 0;
    opacity: 1;
}

/* 목록 */
.board-list {
    font-size: 16px;
    text-align: center;
}

.board-list tr {
    border-bottom: 1px solid #e2e2e2;
}

.board-list thead tr {
    border-top: 1px solid #3255a3;
    background: #f7f7f7;
}

.board-list thead th,
.board-list tbody td {
    height: 56px;
    font-weight: 400;
}

.board-list tbody {
    color: #999;
}

.board-list tbody .tit {
    padding-left: 40px;
    text-align: left;
    color: #555;
}

.board-list tbody .tit a:hover {
    color: #3152a0;
}

/* 상세 */
.board-view .view-head {
    padding: 25px 40px 29px;
    border-top: 1px solid #3255a3;
    border-bottom: 1px solid #e2e2e2;
    background: #f7f7f7;
}

.board-view .view-head h3 {
    font-size: 24px;
    font-weight: 400;
    color: #3152a0;
}

.board-view .view-head .info {
    display: flex;
    margin-top: 7px;
    font-size: 16px;
    color: #999;
}

.board-view .info li::before {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1px;
    height: 15px;
    margin: 0 20px;
    background: #dcdcdc;
    content: "";
}

.board-view .info li:first-child {
    padding-left: 0;
    border-left: 0;
}

.board-view .info li:first-child::before {
    display: none;
}

.board-view .view-body {
    padding: 34px 40px;
    font-size: 16px;
    line-height: 1.688;
    color: #555;
}

.board-view .view-body img {
    max-width: 80%;
    margin-bottom: 10px;
}

.board-view .view-body .center {
    text-align: center;
}

/* view pagination */
.pagination-view {
    border-top: 1px solid #e2e2e2;
    font-size: 14px;
}

.pagination-view dl {
    display: flex;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #e2e2e2;
}

.pagination-view dt {
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.pagination-view dt::before {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-right: 20px;
    content: "";
}

.pagination-view .prev dt::before {
    background: url("../../assets/images/icon/icon-pagination-arrow.png");
}

.pagination-view .next dt::before {
    transform: rotate(180deg);
    background: url("../../assets/images/icon/icon-pagination-arrow.png");
}

.pagination-view dd {
    color: #999;
}

.pagination-view dd a {
    color: #555;
}

.pagination-view dd a:hover {
    color: #3152a0;
}

/* number pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.pagination li.first,
.pagination li.prev,
.pagination li.next,
.pagination li.last {
    overflow: hidden;
    background: #fff no-repeat center;
    text-indent: -9999px;
}

.pagination li.dimd {
    opacity: .4;
}

.pagination li.first {
    border-left: 1px solid #ccc;
    background-image: url("../../assets/images/btn/btn-pagination-first.png");
}

.pagination li.prev {
    margin-right: 40px;
    background-image: url("../../assets/images/btn/btn-pagination-prev.png");
}

.pagination li.next {
    margin-left: 40px;
    border-left: 1px solid #ccc;
    background-image: url("../../assets/images/btn/btn-pagination-next.png");
}

.pagination li.last {
    background-image: url("../../assets/images/btn/btn-pagination-last.png");
}

.pagination li {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-left: 0;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    line-height: 36px;
}

.pagination li.active {
    border-color: #3255a3;
    background: #3255a3;
    color: #fff;
}

.pagination li.prev+li {
    border-left: 1px solid #ccc;
}

.pagination li a {
    display: block;
    width: 100%;
    height: 100%;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    border: 1px solid #ededed;
    border-radius: 10px;
    background: #eee;
}

.search-box input {
    width: 450px;
    height: 51px;
    margin-right: 5px;
}

.search-box button {
    width: 140px;
    height: 51px;
    border: 0;
    background: #000;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.th-row-table {
    border-top: 1px solid #3255a3;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    table-layout: fixed;
}

.th-row-table th,
.th-row-table td {
    height: 56px;
    padding: 6px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
}

.th-row-table th {
    width: 200px;
    background: #f7f7f7;
    font-weight: 400;
    text-align: left;
}

.th-col-table {
    border-top: 1px solid #3255a3;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    table-layout: fixed;
}

.th-col-table th,
.th-col-table td {
    height: 56px;
    padding: 6px 20px;
    box-sizing: border-box;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.th-col-table th:last-child,
.th-col-table td:last-child {
    border-right: 0;
}

.th-col-table thead th {
    background: #e7edf0;
    font-weight: 400;
}

.th-col-table tbody th {
    width: 200px;
    background: #f7f7f7;
    font-weight: 400;
    text-align: left;
}

table {
    word-break: keep-all;
    word-wrap: break-word;
}

table .center {
    text-align: center;
}

.tit-underline {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: #000;
    text-align: left;
    display: inline;
    background: linear-gradient(transparent 60%, rgba(115, 178, 75, .2) 40%);
}

.txt-support {
    font-size: 14px;
    color: #d9a055;
}

.btn-wrap {
    display: flex;
    padding-top: 50px;
}

.btn-wrap.center {
    justify-content: center;
}

.btn-wrap.left {
    justify-content: flex-end;
}

.linkBtn-list {
    display: block;
    width: 200px;
    height: 55px;
    background: #3255a3;
    font-size: 16px;
    line-height: 55px;
    color: #fff;
    text-align: center;
}

.con-info {
    position: relative;
    font-size: 18px;
    line-height: 1.938;
    color: #555;
}

.con-info .tit-underline {
    word-break: keep-all;
    word-wrap: break-word;
}

.con-info .tit-underline+dd {
    margin-top: 14px;
}

.con-info dd {
    margin-bottom: 45px;
}

.con-info dd strong {
    color: #000;
}

.con-info dd p {
    margin-bottom: 20px;
}

.con-info .dot-txt-list li {
    display: flex;
}

.con-info .dot-txt-list li::before {
    flex-shrink: 0;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 15px 10px 0 0;
    border-radius: 100%;
    background: #27499a;
    content: "";
}

.con-info .dot-txt-list dl {
    display: flex;
    /* align-items: center; */
}

.con-info .dot-txt-list dt {
    min-width: 100px;
    font-weight: 700;
    color: #000;
}

.con-info .dot-txt-list dd {
    margin-bottom: 0;
}

.con-info .dot-txt-list dd li::before {
    display: none;
}

.con-info table+.txt-support {
    position: absolute;
    right: 0;
    margin-top: 9px;
}

.con-info .count-grid-list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #3255a3;
    font-size: 16px;
    counter-reset: num;
}

.con-info .count-grid-list li {
    display: flex;
    align-items: center;
    width: 33.333%;
    height: 56px;
    padding: 0 20px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
}

.con-info .count-grid-list li:nth-child(3n) {
    border-right: 0;
}

.con-info .count-grid-list li::before {
    display: inline-block;
    margin-right: 5px;
    content: counter(num) ".";
    counter-increment: num 1;
}

.con-info .count-grid-list li:last-child::before {
    display: none;
}

/* animation */
@keyframes visual-tit-in {
    0% {
        clip: rect(0px, 150px, 60px, 150px);
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        clip: rect(0px, 300px, 60px, 0px);
        opacity: 1;
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes position-in {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes line-grow {
    0% {
        height: 0;
    }

    100% {
        height: 60px;
    }
}

/* 회사소개 */
.introduce .visual {
    background-image: url("../../assets/images/visual/introduce-header.jpg");
}

.greetings p {
    font-size: 18px;
    color: #777;
    line-height: 1.722;
}

.greetings .first-txt-box {
    display: flex;
    position: relative;
    margin-bottom: 73px;
}

.greetings .first-txt-box .img-box {
    position: relative;
    width: 39.666%;
    z-index: 10;
}

.greetings .first-txt-box .img-box img {
    margin-left: -88px;
}

.greetings .first-txt-box .txt-box {
    padding-top: 40px;
}

.greetings .first-txt-box .txt-box strong {
    font-size: 30px;
    font-weight: 500;
    color: #288999;
    line-height: 1.3;
}

.greetings .first-txt-box .txt-box>p:last-child {
    margin-top: 37px;
}

.greetings .first-txt-box .bg-txt-box {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 172px;
    padding-left: 39.666%;
    background: url("../../assets/images/bg/bg-sub-greeting.png") no-repeat center right;
    line-height: 1.65;
    box-sizing: border-box;
}

.greetings .first-txt-box .bg-txt-box p {
    color: #fff;
}

.greetings .first-txt-box .bg-txt-box strong {
    padding: 0 16px;
    background: #fff;
    font-size: 24px;
    color: #27499a;
    letter-spacing: -.09em;
}

.greetings>p:nth-child(2) {
    margin-bottom: 50px;
}

.greetings .line-txt-box {
    margin-bottom: 55px;
    padding-left: 36px;
    border-left: 2px solid #636363;
}

.greetings .line-txt-box strong {
    font-size: 24px;
    color: #288999;
}

.greetings .last-txt-box {
    margin-bottom: 77px;
    color: #000;
}

.greetings .last-txt-box em {
    color: #af8e1a;
}

.greetings .txt-right {
    color: #000;
    text-align: right;
}

.greetings .sign-box {
    margin-top: 16px;
    color: #000;
    text-align: right;
}

.greetings .sign-box em {
    margin-right: 24px;
}

.introduce .tab-con01 .map {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin-top: 1px;
    border: 1px solid #d0d0d0;
    background: url("../../assets/images/bg/bg-lattice-pattern.png");
    background-size: 41px;
}

.introduce .local-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1px;
}

.introduce .local-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.introduce .local-box dl {
    width: 240px;
    padding: 10px 20px;
    margin-right: 40px;
    margin-bottom: 30px;
    border: 1px solid #ededed;
    border-radius: 10px;
    -webkit-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.introduce .local-box dl:nth-child(4) {
    margin-top: -27px;
}

.introduce .local-box dl:nth-child(5) {
    margin-top: -27px;
}

.introduce .local-box dl:nth-child(7) {
    margin-top: -78px;
}

.introduce .local-box dt {
    padding-bottom: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid #999;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.introduce .local-box dd {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.625;
}

.introduce .local-box dd em:last-child {
    color: #ff9c00;
}

.support-card-wrap {
    padding-top: 1px;
}

.support-card-wrap .card {
    overflow: hidden;
    display: flex;
    width: 99%;
    height: 350px;
    margin-bottom: 40px;
    border: 1px solid #ededed;
    border-radius: 10px;
    -webkit-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.1);
}

.support-card-wrap .card .img-wrap,
.support-card-wrap .card .txt-wrap {
    width: 50%;
}

.support-card-wrap .card .img-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.support-card-wrap .card:first-child .img-wrap {
    background: url("../../assets/images/bg/bg-organization-people01.png") no-repeat center;
    background-size: cover;
}

.support-card-wrap .card:last-child .img-wrap {
    background: url("../../assets/images/bg/bg-organization-people02.png") no-repeat center;
    background-size: cover;
}

.support-card-wrap .card .img-wrap img {
    display: block;
    margin-right: 85px;
}

.support-card-wrap .card .txt-wrap {

    padding: 50px 0 0 90px;
}

.support-card-wrap .txt-wrap dt {
    position: relative;
    margin-bottom: 37px;
    font-size: 28px;
    font-weight: 700;
}

.support-card-wrap .txt-wrap dt::before {
    display: block;
    position: absolute;
    top: 50%;
    left: -150px;
    width: 120px;
    height: 1px;
    background: rgba(39, 73, 154, .4);
    content: "";
}

.support-card-wrap .txt-wrap dd {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 500;
}

.support-card-wrap .txt-wrap dd::before {
    display: inline-block;
    width: 21px;
    height: 20px;
    margin-right: 17px;
    background: url("../../assets/images/icon/icon-bullet-check.png") no-repeat center;
    content: "";
}

.support-card-wrap .txt-wrap dd strong {
    color: #ff0000;
}

.introduce-history .contents {
    padding-bottom: 0;
}

.introduce-history .visual {
    background-image: url("../../assets/images/visual/introduce-header.jpg");
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 250px;
}

.history::before {
    display: block;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #d4d4d4;
    content: "";
}

.history>li {
    position: relative;
    width: 50%;
    margin-bottom: 37px;
    box-sizing: border-box;
}

.history>li:first-child {
    margin-top: -24px;
}

.history .line {
    width: 100%;
}

.history .line.right {
    margin-left: 50%;
}

.history .line.left {
    margin-right: 50%;
}

.history .right {
    padding-left: 50px;
    text-align: left;
}

.history .left {
    padding-right: 50px;
    text-align: right;
}

.history h4 {
    margin-bottom: 19px;
    font-size: 40px;
    font-weight: 500;
    color: #27499a;
}

.history h4::before {
    display: block;
    position: absolute;
    top: 12px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: url("../../assets/images/icon/icon-bullet-history.png") no-repeat center;
    content: "";
}

.history .left h4::before {
    right: -15px;
}

.history .right h4::before {
    left: -15px;
}

.history li img {
    max-width: 100%;
    border-radius: 10px;
}

.history li li {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}

.history .left li {
    flex-direction: row-reverse
}

.history li li em:first-child {
    flex-shrink: 0;
    display: block;
    width: 36px;
    color: #000;
}

.history .right em:first-child {
    margin-right: 20px;
}

.history .left em:first-child {
    margin-left: 20px;
}

.history li li em:last-child {
    flex-shrink: 1;
}

/* 상품안내 */
.product .visual {
    background-image: url("../../assets/images/visual/product-header.jpg");
}

.product .tab-title li {
    width: 290px;
}

.product .tab-con03 td {
    text-align: center;
}

/* 주요고객사 */
.customer .visual {
    background-image: url("../../assets/images/visual/customer-header.jpg");
}

.customer .company-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}

.customer .company-list li {
    width: 20%;
    padding: 0 5px 10px;
    box-sizing: border-box;
}

.customer .company-list li img {
    border: 1px solid #ccc;
    width: 100%;
}

/* 이용후기 */
.review .visual {
    background-image: url("../../assets/images/visual/review-header.jpg");
}

.review .board-list .tit a {
    display: flex;
    align-items: center;
}

.review .board-list .tit a::after {
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-left: 10px;
    background: url("../../assets/images/icon/icon-board-img.png");
    content: "";
}

.review .board-view .view-body {
    padding: 10px 40px;
}

/* 장례정보 */
.funeral .visual {
    background-image: url("../../assets/images/visual/funeral-header.jpg");
}

.funeral .tab-con header {
    margin-bottom: 58px;
    text-align: center;
}

.funeral .tab-con header h3 {
    padding: 0 6px;
}

.funeral .tab-con header p {
    margin-top: 17px;
    font-size: 18px;
    color: #555;
}

.funeral .tab-con .btn-wrap {
    margin-bottom: 10px;
}

.funeral .tab-con select {
    width: 223px;
}

.board-performance {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 40px;
    border-top: 1px solid #3255a3;
}

.board-performance li {
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 97px;
}

.board-performance li:nth-child(4n) {
    margin-right: 0;
}

.board-performance li a {
    display: block;
    position: relative;
}

.board-performance li a img {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.board-performance li a figcaption {
    position: absolute;
    bottom: -40px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.board-performance li a:hover::before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #3255a3;
    box-sizing: border-box;
    content: "";
}

.board-performance li a:hover figcaption {
    color: #3255a3;
}

@media screen and (max-width: 1280px) {}

/* tablet 1024 이하 */
@media screen and (max-width: 1024px) {
    .con-header {
        position: relative;
    }

    .contents .con-header .tab-title {
        display: block;
        border: 1px solid #ccc;
        padding-top: 0;
    }

    .btn-tab-select {
        position: relative;
        width: 100%;
        height: 60px;
        padding-left: 20px;
        margin-top: 40px;
        border: 0;
        background: #27499a;
        font-size: 18px;
        text-align: left;
        color: #fff;
    }

    .btn-tab-select::after {
        display: block;
        position: absolute;
        top: 22px;
        right: 20px;
        width: 20px;
        height: 20px;
        background: url("../../assets/images/btn/btn-w-arrow.png") no-repeat center;
        background-size: contain;
        content: "";
        transform: rotate(-90deg);
    }

    .btn-tab-select.active::after {
        transform: rotate(-270deg);
    }

    .tab-title {
        position: absolute;
        width: 100%;
        background: #fff;
        z-index: 10;
    }

    .tab-title li {
        min-width: 100%;
        border: 0;
        border-top: 1px solid #ccc;
        text-align: left;
    }

    .tab-title li:first-child {
        border: 0;
    }

    .tab-title label {
        padding-left: 20px;
    }

    /* 주요고객사 */
    .customer .company-list li {
        width: 25%;
    }

    /* 장례정보 */
    .board-performance li a figcaption{
        bottom: -35px;
        font-size: 16px;
    }

}

/* 저해상도 tablet 768 이하 */
@media screen and (max-width:768px) {
    .visual .visual-wrap {
        height: 250px;
        padding-top: 65px;
    }

    .visual h2 {
        font-size: 28px;
    }

    .visual p {
        padding-top: 46px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.5;
        word-break: keep-all;
        word-wrap: break-word;
    }

    .lnb .con-wrap {
        padding: 0;
        height: 48px;
    }

    .lnb button {
        padding: 0 15px;
    }

    .lnb button::after {
        right: 15px;
    }

    .lnb button.open+.depth-list {
        z-index: 200;
    }

    .lnb a {
        width: 1331px;
        padding: 0 15px;
    }

    .contents .con-header h2 {
        font-size: 26px;
    }

    .contents .con-header p {
        font-size: 16px;
    }

    /* 주요고객사 */
    .customer .company-list li {
        width: 33.333%;
    }

    /* 장례정보 */
    .board-performance li{
        width: calc(33.333% - 10px);
        margin-right: 10px;
    }
    .board-performance li:nth-child(4n) {
        margin-right: 10px;
    }
    .board-performance li:nth-child(3n) {
        margin-right: 0;
    }
}

/* moblie 480 이하 */
@media screen and (max-width:480px) {
    .lnb li {
        width: 50%;
    }

    .tit-underline {
        font-size: 20px;
    }

    .con-info {
        font-size: 16px;
        line-height: 1.5;
    }

    .con-info .dot-txt-list li::before {
        margin-top: 11px;
    }

    .introduce .visual p {
        width: 298px;
    }

    .product .visual p {
        width: 315px;
    }

    .customer .visual p {
        max-width: 100%;
    }

    .th-row-table th,
    .th-row-table td {
        padding: 6px 10px;
    }

    .th-col-table th,
    .th-col-table td {
        padding: 6px 10px;
    }

    .board-list {
        border-top: 1px solid #3255a3;
        font-size: 12px;
    }

    .board-list thead {
        display: none;
    }

    .board-list tr {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 8px 10px;
    }

    .board-list tbody td {
        display: block;
        height: auto;
    }

    .board-view .view-head h3 {
        font-size: 18px;
    }

    .board-view .view-head {
        padding: 15px 20px 18px;
    }

    .board-view .view-head .info {
        font-size: 14px;
    }

    .board-view .info li::before {
        margin: 0 10px;
    }

    .board-view .view-body {
        padding: 24px 20px;
        font-size: 14px;
    }

    .board-view .view-body img {
        max-width: 100%;
    }

    .pagination li.prev {
        margin-right: 10px;
    }

    .pagination li.next {
        margin-left: 10px;
    }

    .pagination li {
        font-size: 14px;
    }

    .pagination-view dt {
        padding: 0 10px;
        width: 80px;
        flex-shrink: 0;
    }

    .search-box {
        padding: 0;
        border: 0;
        background: transparent;
    }

    .search-box button {
        width: 100px;
        height: 41px;
    }

    .search-box input {
        height: 41px;
    }

    /* 회사소개 */
    .introduce .board-list tbody td:first-child {
        display: none;
    }

    .introduce .board-list tbody td:nth-child(2) {
        width: 100%;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .introduce .board-list tbody td:nth-child(3) {
        display: flex;
        align-items: center;
    }

    .introduce .board-list tbody td:nth-child(3)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 6px;
        background: #e2e2e2;
        content: "";
    }

    .introduce .board-list tbody td:last-child::before {
        content: "조회수 ";
    }


    /* 상품안내 */
    .product table col:first-child {
        width: 125px !important;
    }

    .product .th-row-table th:first-child {
        width: 125px !important;
    }

    .product table br {
        display: none;
    }

    /* 이용후기 */
    .review .board-list tbody td:first-child {
        display: none;
    }

    .review .board-list tbody td:nth-child(2) {
        width: 100%;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .review .board-list tbody td:nth-child(2) a {
        display: inline-block;
    }

    .review .board-list tbody td:nth-child(3)::after,
    .review .board-list tbody td:nth-child(4)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 10px;
        background: #ccc;
        content: "";
    }

    .review .board-list tbody td:last-child::before {
        content: "조회수 ";
    }

    .review .board-view .view-body {
        padding: 10px 20px;
    }

    /* 장례정보 */
    .funeral-search .tab-con header p {
        margin-top: 9px;
        font-size: 14px;
    }

    .funeral-search .tab-con .btn-wrap {
        padding-top: 30px;
    }

    .funeral-search .tab-con select {
        width: 200px;
    }

    .funeral-search .board-list tbody td:first-child {
        display: none;
    }

    .funeral-search .board-list tbody td:nth-child(2) {
        margin-bottom: 3px;
    }

    .funeral-search .board-list tbody td:nth-child(2)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 10px;
        background: #ccc;
        content: "";
    }

    .funeral-search .board-list tbody td:nth-child(3) {
        width: 100%;
        text-align: left;
        order: 1;
    }

    .funeral-search .board-list tbody td:last-child::before {
        content: "Tel. ";
    }

    .funeral-notice .board-list tbody td:first-child {
        display: none;
    }

    .funeral-notice .board-list tbody td:nth-child(2) {
        width: 100%;
        margin-bottom: 6px;
        font-size: 14px;
        color: #555;
        text-align: left;
    }

    .funeral-notice .board-list tbody td:nth-child(4){
        width: 60%;
        text-align: left;
    }

    .funeral-notice .board-list tbody td:nth-child(2)::before {
        content: "고인성명 : ";
    }

    .funeral-notice .board-list tbody td:nth-child(3)::before {
        content: "상주성명 : ";
    }

    .funeral-notice .board-list tbody td:nth-child(4)::before {
        content: "별세일 : ";
    }

    
    .funeral-notice .board-list tbody td:nth-child(3)::after,
    .funeral-notice .board-list tbody td:nth-child(5)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 10px;
        background: #ccc;
        content: "";
    }

    .board-performance li {
        width: calc(50% - 5px);
        margin-right: 10px;
        margin-bottom: 80px;
    }

    
    .board-performance li:nth-child(3n) {
        margin-right: 10px;
    }
    .board-performance li:nth-child(2n) {
        margin-right: 0;
    }


}