@charset "utf-8";

/* layout */
.contents{
    padding-bottom: 120px;
}
.con-wrap{
    max-width: 1280px;
}

/* sub visual */
.visual{
    background: no-repeat center;
    background-size: cover;
    color: #fff;
}
.visual .visual-wrap{
    position: relative;
    height: 329px;
    padding-top: 92px;
    box-sizing: border-box;
}
.visual h2{
    position: absolute;
    width: 300px;
    height: 60px;
    -webkit-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    -moz-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    font-size: 36px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) perspective(1100px);
    animation: visual-tit-in .6s ease-in;

}
.visual p{
    margin-bottom: 98px;
    padding-top: 56px;
    -webkit-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    -moz-text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
    font-size: 18px;
    line-height: 1.72;
    text-align: center;
    transition: .5s ease;
    animation: scale-in 1s ease;
}
/* local nav */
.lnb{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
}
.lnb .con-wrap{
    display: flex;
    align-items: center;
    height: 60px;
}
.lnb li {
    position: relative;
    width: 220px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, .2);
    font-size: 16px;
}

.lnb li:first-child {
    border-left: 1px solid rgba(255, 255, 255, .2);
}
.lnb .home{
    overflow: hidden;
    width: 60px;
    background: url("../../assets/images/icon/icon-lnb-home.png") no-repeat center;
    text-indent: -9999px;
}
.lnb button{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    border: 0;
    background: none;
    font-size: inherit;
    font-weight: 500;
    text-align: left;
    color: #fff;
}
.lnb button::after{
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 14px;
    height: 8px;
    background: url("../../assets/images/icon/icon-lnb-arrow.png") no-repeat center;
    transform: translateY(-50%);
    transition: .3s ease;
    content: "";
}
.lnb button.open::after{
    transform: translateY(-50%) rotate(-180deg);
}
.lnb .depth-list{
    overflow: hidden;
    position: absolute;
    left: -1px;
    width: 100%;
    height: 0;
    border: 1px solid #ddd;
    background: #fff;
    line-height: 46px;
    opacity: 0;
    transition: .3s ease;
    z-index: 10;
}
.lnb button.open + .depth-list{
    height: auto;
    padding: 10px 0;
    opacity: 1;
}
.lnb .depth-list li a:hover{
    color: #004287;
}
.lnb .depth-list li.active a{ /* 헌재 페이지 */
    color: #004287;
}
.lnb a{
    display: block;
    height: 100%;
    padding: 0 30px;
    color: #888;
}

/* contents header */
.contents .con-header{
    margin-bottom: 60px;
    padding-top: 50px;
    text-align: center;
    animation: position-in 1s ease;
}
.contents .con-header::before{
    display: block;
    width: 1px;
    height: 60px;
    margin: 0 auto 14px;
    background: #393939;
    content: "";
}
.contents .con-header h2{
    font-size: 34px;
}
.contents .con-header p{
    margin-top: 13px;
    font-size: 20px;
    color: #999;
}
.contents .con-header .tab-title{
    padding-top: 40px;
}

.contents .con-body{
    animation: position-in 1s ease;
}

/* tab */
.tab-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #555;
    text-align: center;
    line-height: 60px;
}

.tab-title li {
    min-width: 230px;
    border: 1px solid #ccc;
    border-left: 0;
}

.tab-title li:first-child {
    border-left: 1px solid #ccc;
}

.tab-title input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.tab-title label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.tab-title input[type="radio"]:checked+label {
    background: #27499a;
    color: #fff;
}

.tab-con {
    position: relative;
}

.tab-con article {
    overflow: hidden;
    position: relative;
    top: 40px;
    height: 0;
    opacity: 0;
    transition: .6s ease;
}

.tab-con article.active {
    height: auto;
    top: 0;
    opacity: 1;
}

/* 목록 */
.board-list {
    font-size: 16px;
    text-align: center;
}

.board-list tr {
    border-bottom: 1px solid #e2e2e2;
}

.board-list thead tr {
    border-top: 1px solid #3255a3;
    background: #f7f7f7;
}

.board-list thead th,
.board-list tbody td {
    height: 56px;
    font-weight: 400;
}

.board-list tbody {
    color: #999;
}

.board-list tbody .tit {
    padding-left: 40px;
    text-align: left;
    color: #555;
}
.board-list tbody .tit a:hover {
    color: #3152a0;
}

/* 상세 */
.board-view{

}
.board-view .view-head{
    padding: 25px 40px 29px;
    border-top: 1px solid #3255a3;
    border-bottom: 1px solid #e2e2e2;
    background: #f7f7f7;
}
.board-view .view-head h3{
    font-size: 24px;
    font-weight: 400;
    color: #3152a0;
}
.board-view .view-head .info{
    display: flex;
    margin-top: 7px;
    font-size: 16px;
    color: #999;
}
.board-view .info li::before{
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1px;
    height: 15px;
    margin: 0 20px;
    background: #dcdcdc;
    content: "";
}
.board-view .info li:first-child{
    padding-left: 0;
    border-left: 0;
}
.board-view .info li:first-child::before{
    display: none;
}
.board-view .view-body{
    padding: 34px 40px;
    font-size: 16px;
    line-height: 1.688;
    color: #555;
}
.board-view .view-body img {
    max-width: 80%;
    margin-bottom: 10px;
}
.board-view .view-body .center {
    text-align: center;
}

/* view pagination */
.pagination-view{
    border-top: 1px solid #e2e2e2;
    font-size: 14px;
}
.pagination-view dl{
    display: flex;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #e2e2e2;
}
.pagination-view dt{
    display: flex;
    align-items: center;
    padding: 0 40px;
}
.pagination-view dt::before{
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-right: 20px;
    content: "";
}
.pagination-view .prev dt::before {
    background: url("../../assets/images/icon/icon-pagination-arrow.png");
}
.pagination-view .next dt::before{
    transform: rotate(180deg);
    background: url("../../assets/images/icon/icon-pagination-arrow.png");
}
.pagination-view dd{
    color: #999;
}
.pagination-view dd a{
    color: #555;
}
.pagination-view dd a:hover{
    color: #3152a0;
}

/* number pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.pagination li.first,
.pagination li.prev,
.pagination li.next,
.pagination li.last {
    overflow: hidden;
    background: #fff no-repeat center;
    text-indent: -9999px;
}

.pagination li.dimd {
    /* 버튼 비활성화 */
    opacity: .4;
}

.pagination li.first {
    border-left: 1px solid #ccc;
    background-image: url("../../assets/images/btn/btn-pagination-first.png");
}

.pagination li.prev {
    margin-right: 40px;
    background-image: url("../../assets/images/btn/btn-pagination-prev.png");
}

.pagination li.next {
    margin-left: 40px;
    border-left: 1px solid #ccc;
    background-image: url("../../assets/images/btn/btn-pagination-next.png");
}

.pagination li.last {
    background-image: url("../../assets/images/btn/btn-pagination-last.png");
}

.pagination li {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-left: 0;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    line-height: 36px;
}

.pagination li.active {
    /* 현재 페이지 */
    border-color: #3255a3;
    background: #3255a3;
    color: #fff;
}

.pagination li.prev+li {
    border-left: 1px solid #ccc;
}

.pagination li a {
    display: block;
    width: 100%;
    height: 100%;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    border: 1px solid #ededed;
    border-radius: 10px;
    background: #eee;
}
.search-box input{
    width: 450px;
    height: 51px;
    margin-right: 5px;
}
.search-box button{
    width: 140px;
    height: 51px;
    border: 0;
    background: #000;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.th-row-table {
    border-top: 1px solid #3255a3;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
}
.th-row-table th,
.th-row-table td{
    height: 56px;
    padding: 6px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
}
.th-row-table th{
    width: 200px;
    background: #f7f7f7;
    font-weight: 400;
    text-align: left;
}

.th-col-table {
    border-top: 1px solid #3255a3;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
}
.th-col-table th,
.th-col-table td{
    height: 56px;
    padding: 6px 20px;
    box-sizing: border-box;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.th-col-table th:last-child,
.th-col-table td:last-child{
    border-right: 0;
}
.th-col-table thead th{
    background: #e7edf0;
    font-weight: 400;
}
.th-col-table tbody th{
    width: 200px;
    background: #f7f7f7;
    font-weight: 400;
    text-align: left;
}
table{
    word-break: keep-all;
    word-wrap: break-word;
}
table .center{
    text-align: center;
}

.tit-underline {
    display: inline-table;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: #000;
    text-align: left;
}

.tit-underline::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: rgba(115, 178, 75, .2);
    content: "";
    z-index: -1;
}

.txt-support {
    font-size: 14px;
    color: #d9a055;
}

.btn-wrap{
    display: flex;
    padding-top: 50px;
}
.btn-wrap.center{
    justify-content: center;
}
.btn-wrap.left{
    justify-content: flex-end;
}

.linkBtn-list{
    display: block;
    width: 200px;
    height: 55px;
    background: #3255a3;
    font-size: 16px;
    line-height: 55px;
    color: #fff;
    text-align: center;
}

.con-info{
    position: relative;
    font-size: 18px;
    line-height: 1.938;
    color: #555;
}
.con-info .tit-underline{
    margin-bottom: 14px;
}
.con-info dd{
    margin-bottom: 45px;
}
.con-info dd strong{
    color: #000;
}
.con-info dd p{
    margin-bottom: 20px;
}
.con-info .dot-txt-list li{
    display: flex;
}
.con-info .dot-txt-list li::before{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 15px 10px 0 0;
    border-radius: 100%;
    background: #27499a;
    content: "";
}
.con-info .dot-txt-list dl{
    display: flex;
    /* align-items: center; */
}
.con-info .dot-txt-list dt{
    min-width: 100px;
    font-weight: 700;
    color: #000;
}
.con-info .dot-txt-list dd{
    margin-bottom: 0;
}
.con-info .dot-txt-list dd li::before{
    display: none;
}
.con-info table + .txt-support{
    position: absolute;
    right: 0;
    margin-top: 9px;
}
.con-info .count-grid-list{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #3255a3;
    font-size: 16px;
    counter-reset: num;
}
.con-info .count-grid-list li{
    display: flex;
    align-items: center;
    width: 33.333%;
    height: 56px;
    padding: 0 20px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
}
.con-info .count-grid-list li:nth-child(3n){
    border-right: 0;
}
.con-info .count-grid-list li::before{
    display: inline-block;
    margin-right: 5px;
    content: counter(num) ".";
    counter-increment: num 1;
}
.con-info .count-grid-list li:last-child::before{
    display: none;
}

/* animation */
@keyframes visual-tit-in {
    0% {
        clip: rect(0px, 150px, 60px, 150px);
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        clip: rect(0px, 300px, 60px, 0px);
        opacity: 1;
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes position-in {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 회사소개 */
.introduce .visual {
    background-image: url("../../assets/images/visual/introduce-header.jpg");
}

.greetings p{
    font-size: 18px;
    color: #777;
    line-height: 1.722;
}
.greetings .first-txt-box{
    display: flex;
    position: relative;
    margin-bottom:73px;
}
.greetings .first-txt-box .img-box{
    position: relative;
    width: 39.666%;
    z-index: 10;
}
.greetings .first-txt-box .img-box img{
    margin-left: -88px;
}
.greetings .first-txt-box .txt-box{
    padding-top: 40px;
}
.greetings .first-txt-box .txt-box strong{
    font-size: 30px;
    font-weight: 500;
    color: #288999;
    line-height: 1.3;
}
.greetings .first-txt-box .txt-box > p:last-child{
    margin-top: 37px;
}
.greetings .first-txt-box .bg-txt-box{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 172px;
    padding-left: 39.666%;
    background: url("../../assets/images/bg/bg-sub-greeting.png") no-repeat center right;
    line-height: 1.65;
    box-sizing: border-box;
}
.greetings .first-txt-box .bg-txt-box p{
    color: #fff;
}
.greetings .first-txt-box .bg-txt-box strong{
    padding: 0 16px;
    background: #fff;
    font-size: 24px;
    color: #27499a;
    letter-spacing: -.09em;
}

.greetings > p:nth-child(2){
    margin-bottom: 50px;
}

.greetings .line-txt-box{
    margin-bottom: 55px;
    padding-left: 36px;
    border-left: 2px solid #636363;
}
.greetings .line-txt-box strong{
    font-size: 24px;
    color: #288999;
}
.greetings .last-txt-box{
    margin-bottom: 77px;
    color: #000;
}
.greetings .last-txt-box em{
    color: #af8e1a;
}
.greetings .txt-right{
    color: #000;
    text-align: right;
}
.greetings .sign-box{
    margin-top: 16px;
    color: #000;
    text-align: right;
}
.greetings .sign-box em{
    margin-right: 24px;
}

/* 상품안내 */
.product .visual{
    background-image: url("../../assets/images/visual/product-header.jpg");
}
.product .tab-title li{
    width: 290px;
}

/* 주요고객사 */
.customer .visual {
    background-image: url("../../assets/images/visual/customer-header.jpg");
}
.customer .company-list{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 5px;
    max-width: 1110px;
    margin: 0 auto;
}
.customer .company-list li{
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
}
.customer .company-list li img{
    width: 100%;
}

/* 이용후기 */
.review .visual {
    background-image: url("../../assets/images/visual/review-header.jpg");
}
.review .board-list .tit a {
    display: flex;
    align-items: center;
}
.review .board-list .tit a::after {
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-left: 10px;
    background:url("../../assets/images/icon/icon-board-img.png");
    content: "";
}
.review .board-view .view-body{
    padding: 10px 40px;
}

/* 장례정보 */
.funeral .visual {
    background-image: url("../../assets/images/visual/funeral-header.jpg");
}
.funeral .tab-con header{
    margin-bottom: 58px;
    text-align: center;
}
.funeral .tab-con header h3{
    padding: 0 6px;
}
.funeral .tab-con header p{
    margin-top: 17px;
    font-size: 18px;
    color: #555;
}
.funeral .tab-con .btn-wrap{
    margin-bottom: 10px;
}
.funeral .tab-con select{
    width: 223px;
}
.board-performance {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 40px;
    border-top: 1px solid #3255a3;
}
.board-performance li{
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 97px;
}
.board-performance li:nth-child(4n){
    margin-right: 0;
}
.board-performance li a{
    display: block;
    position: relative;
}
.board-performance li a img{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.board-performance li a figcaption{
    position: absolute;
    bottom: -40px;
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
.board-performance li a:hover::before{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #3255a3;
    box-sizing: border-box;
    content: "";
}
.board-performance li a:hover figcaption{
    color: #3255a3;
}

@media screen and (max-width: 1280px){
    .customer .company-list{
        justify-content: center;
    }
}